{% extends 'usuarios/base.html' %}
{% load static %}


{% block conteudo %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Contato
              </h2>
            </div>
            <p>Entre em contato conosco para saber mais sobre o POEV, tirar dúvidas ou enviar sugestões.</p>

            <p>Estamos à disposição para ajudar!</p>
            <p>Você pode nos contatar pelos e-mails abaixo ou pelo telefone: (19) 3826 7800 - Ramal 2460</p>
              <a href="mailto:vinhedo@polo.univesp.br">vinhedo@polo.univesp.br</a>
              <a href="mailto:poev@poev.com.br">poev@poev.com.br</a>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}







