  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-2 info_links">
          <h4>
            Menu
          </h4>
          <ul>
            <li class="active">
                  <a href="{% url 'homepage' %}">
                Início
              </a>
            </li>
            <li>
                  <a href="{% url 'sobre' %}">
                Sobre
              </a>
            </li>
            <li>
            <a href="{% url 'contato' %}">
                Contato
              </a>
            </li>
            <li>
            <a href="{% url 'todas_vagas' %}">
                Vagas
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>
            Contato
          </h4>
          <p>

Entre em contato conosco para saber mais sobre o POEV, tirar dúvidas ou enviar
sugestões. Estamos à disposição para ajudar! Você pode nos contatar pelos
e-mails: vinhedo@polo.univesp.br ou poev@poev.com.br

          </p>
        </div>
        <div class="col-md-3">
          <div class="info_social">
            <h4>
              Mídias Sociais
            </h4>
            <div class="social_container">
              <div>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </div>
              <div>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
              <div>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
              <div>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_form">
            <h4>
              Newsletter
            </h4>
            <form action="">
              <input type="text" placeholder="Digite seu Email" />
              <button type="submit">
                Assinar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
            <p>Desenvolvido por alunos da <a href="https://www.univesp.br" target="_blank">Univesp</a> do Polo de Vinhedo &copy; 2024</p>
    </div>
  </footer>
  <!-- footer section -->



