{% extends 'usuarios/base.html' %}
{% load static %}

        {% block conteudo %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

    <div class="container">


        <div class="login-box">
            <img src="{% static 'images/poev.png' %}" alt="poev" width="80" height="80" class="d-inline-block align-middle" style="vertical-align: middle; margin-right: 0px; padding-right:0px">
            <h1>Login | POEV</h1>
            {% load crispy_forms_tags %}
            <form method="post" action="">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <a href="{% url 'registrar' %}" class="btn-link mt-3 d-block">Não possui cadastro?</a>
            <a href="{% url 'password_reset' %}" class="btn-link mt-3 d-block">Esqueci a senha?</a>
        </div>
    </div>
        {% endblock %}



