{% extends 'usuarios/base.html' %}
{% load static %}

        {% block conteudo %}
    <div class="container">
        <div class="login-box">
            <img src="{% static 'images/poev.png' %}" alt="poev" width="80" height="80" class="d-inline-block align-middle" style="vertical-align: middle; margin-right: 0px; padding-right:0px">
            <h1>Alterar Senha | POEV</h1>
            {% load crispy_forms_tags %}
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Alterar senha</button>
            </form>
        </div>
    </div>
        {% endblock %}





